*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #212121;
    transition: 0.9s;
}



.container-title{
    display: flex;
    width: 50%;
    margin: 0 auto 20px auto;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.title{
    text-align: center;
    color: #E5E5E5;
    margin: 15px 0;
}

.tema{
    padding-right: 10px;
    transition: background 0.2s linear;
 }
 
 .fa-moon{
     color: white;
 }
 
 .fa-sun{
     color: #f39c12;
 }

 .checkbox{
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball{
    transform: translateX(32px);
}

.label{
    background-color: #333333;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    width: 58px;
    height: 30px;
    border: 1px solid #999999;
    
}

.label .ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 1px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.3s linear;
}

.container{
    background-color: #333333;
    width: 700px; 
    max-width: 80%;
    margin: 0 auto;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.103);

}



.search-box{
    width: 100%;
    display: flex;
    justify-content:space-between;

}

.search-box input{
    padding: 5px;
    width: 420px;
    max-width: 60%;
    outline: none;
    border: none;
    border-bottom: 2px solid #777777;
    background-color: #333333;
    color: #ccc;
    font-size: 1rem;
}

.search-box button{
    padding: 15px 0;
    width: 155px;
    max-width: 35%;
    background-color: #555555;
    outline: none;
    border: none;
    color: #E5E5E5;
    border-radius: 5px;
    cursor: pointer;
}

.search-box button:hover{
    opacity: 85%;
}

.result{
    position: relative;
}

.result h3{
    color: #E5E5E5;
    font-size: 1.875rem;
}

.result .word{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.result button{
    background-color: transparent;
    color: #E5E5E5;
    border: none;
    outline: none;
    font-size: 1.125rem;
    cursor: pointer;
}

.result .details{
    display: flex;
    gap: 10px;
    color: #999999;
    margin: 5px 0 20px 0;
    font-size: 14px;
}

.word-meaning{
    color:#F2F2F2;
}

.word-example{
    color: #adaaaa;
    font-style: italic;
    border-left: 5px solid #777777;
    padding-left: 20px;
    margin-top: 30px;
}

.error{
    margin-top: 80px;
    text-align: center;
    font-size: 1.875rem;
}



body.light{
    background-color: #E6E6E6;
    transition: 0.9s;
}

body.light .title{
    color: #212121;
}

body.light .container,
body.light .search-box input{
    background-color: #D3CDCD;
}

body.light .search-box input{
    border-bottom: 2px solid #555555;
    color: #212121;
}


body.light .search-box button{
    background-color: #eeeeee;
    color: #212121;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.096);
}

body.light .result h3,
body.light .result button,
body.light .word-meaning,
body.light .word-example{
    color: #212121;   
}


body.light .result .details{
    color: rgba(0, 0, 0, 0.678);
}

body.light .error{
    color: #212121;
}